<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title | escape }}</title>

  <!-- Link to your CSS file -->
  <link rel="stylesheet" type="text/css" href="_includes/styles.css">
</head>
<body>

<div class="py-3 border-top">
  <div class="container">

    <div class="row">

      <div class="col-sm text-right">
        <p>
          <a href="https://github.com/eshitasangani/robotic-fruit-sorter/">Project Code</a>
        </p>
      </div>

      <div class="col-sm">
        <ul class="list-unstyled">
          <li>
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
            <li>
              <a href="mailto:{{ site.email }}">
                {{ site.email }}
              </a>
            </li>
          {%- endif -%}
        </ul>
      </div>

    </div>

    <p>{{- site.description | escape -}}</p>

  </div>
</div>

</body>
</html>
