/* headerstyles.css */

.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem; 
  }
  
  .mb-2 {
    margin-bottom: 0.5rem;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col-sm {
    flex: 0 0 48%; 
  }
  
  .text-right {
    text-align: right;
  }
  